/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
$fontfam: 'Montserrat', Roboto, sans-serif;
$fontfam2: 'Roboto Condensed', Roboto, sans-serif;
@import 'effect';
@import 'embed';
:root {
  --color1: #21569e;
  --color2: #333333;
  --color3: #808080;
  --colorok: #31da70;
  --colorerror: #ff6d6d;
  --whitecolor: #fff;
  --colorlink: #409ff5;
  --spacing: 30px;
  --colortablehead: #e4e4e4;
  --bs-gutter-x: 1.5rem;
  --ratio:1;
}
.error {color: var(--colorerror) !important;}
.green {color: var(--colorok) !important;}
.gold {color: var(--color1) !important;}
.blue {color: var(--colorlink) !important;}
.main {color: var(--color1) !important;}
body {font-family: $fontfam2;font-size: 14px;font-weight: 400;color: var(--color2);background-color: #000;}
* {outline: none;box-sizing: border-box;padding: 0;margin: 0;border:none;}
a {text-decoration: none;transition: all 0.3s ease-in-out;}
button {transition: all 0.7s ease-in-out !important;}
a:hover {text-decoration: none;}
main {position: relative;height: 100vh;}
.container{max-width: 1200px;}
.container2{max-width: 1000px;margin:0 auto;}
.wrapper {margin: 0 auto;position: relative;width:100%;height: 100%;}
#layout{width:1920px;height:auto;transform-origin: top left;overflow: hidden;margin: 0 auto;}
#layout2{width: 100%;height:auto;transform-origin: top left;overflow: hidden;}

/*-Sticky-*/
.floatbar{width: 196px;height: 452px;background: url(../images/bg-sticky.png) no-repeat top center;position: fixed;right: 0;top: 15%;z-index: 15;
  ul{list-style: none;display: flex;justify-content: center;align-items: center;flex-direction: column;font-size: 12px;padding-left:0;margin-top:115px;
    li{padding:0.3rem 0;
      ol{display: flex;list-style: none;}
      a{display: flex;align-items: center;align-content:center;color: #fff;
        &:hover{filter: brightness(120%);}
      }
      a.store{
        img{max-width: 100%;}
        &:hover{filter: brightness(190%);}
      }
      a.linktc{margin: 0.5rem 0 0 -1.7rem;
        img{max-width: 100%;}
      }
    }
  }
}

/*=Header=*/
.header {position: relative;background:url(../images/bg-top.jpg) no-repeat;height: 1100px;background-size:contain;
  a.btn-logo{z-index: 2;position: relative;top:45px;
    img{display: block;margin: 0 auto;transform: translateX(60%);}
  }
  .cosplay{display: block;margin: 0 auto;transform: translate(153px, 47px);z-index: 2;position: relative;}
  .allbutton{display: flex;justify-content: center;align-items: center;transform: translate(7%, 60px);list-style: none;z-index: 2;position: relative;
    a{
      &:hover{filter: brightness(120%);}
    }
  }
  .btn-trailer{width: 800px;height: 500px;display: block;margin: 0 auto;position: absolute;z-index:2;left: 50%;transform: translateX(-50%);bottom: 0;}
  .bg-onvideo{position: absolute;z-index: 2;bottom:-70px;left: 50%;transform: translate(-50%);width: 100%;height:auto;
    img{max-width: 100%;display: block;}
  }
  .bgvideo {width: 1920px;height: 1000px;position: absolute;top: 0;left: 50%;transform: translateX(-50%);z-index:1;
    #videoef{width: 100%;height: auto;}
  }
  

}


#trailer{
  .modal-dialog{width: 864px;height: 864px;background: url(../images/bgpop.png) no-repeat top center;
    .modal-content{height: 100%;
      .content{margin-top: 130px;
        h3{font-weight: 700;text-shadow: 2px 2px 2px #f5aa28, -2px -2px 2px #f5aa28;}
        p{font-size: 20px;
        strong{font-size: 25px;}
        }
      }
    }
  }
}
#tuongmoi .modal-body .close{right: 100px;}
.modal-dialog{
  .modal-content{background-color: transparent;border:none;
    .btn-close{position: absolute;width: 54px;height: 54px;z-index: 100;right:12%;top:2rem;opacity: 1;
      img{max-width: 100%;}
    }
    .modal-body{
      img{max-width: 100%;margin: 0 auto;display: block;}
    }
  }
}
/*==FOOTER=*/
.footer{min-height: 271px;background: url(../images/bg-footer.jpg) no-repeat top center;background-color:#ffffff;border-top:1px solid #e3e3e3a8;
  .footer-content{display: flex;flex-direction: column;align-items: center;justify-content: center;
    p{line-height: 1;font-weight: 500;font-size: 18px;}
  }
}
@media (max-width: 2560px) {

}
@media (max-width: 1920px) {
  :root {--ratio:1;}
}
@media (max-width: 1600px) {
}
@media (max-width: 1366px) {
  :root {--ratio:0.533;}
}
@media (max-width: 1280px) {
  :root {--ratio:0.5;}
}

@media (max-width: 768px) {
  
}
@media (max-width: 540px) {
  
}
@media (max-width: 414px) {
  
}
