/* CSS Document */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@-webkit-keyframes laluot {
  from {
    -webkit-mask-position: 150% 0px;
    mask-position: 150% 0px;
  }
  100% {
    -webkit-mask-position: 0% 0px;
    mask-position: 0% 0px;
  }
}
@keyframes laluot {
  from {
    -webkit-mask-position: 150% 0px;
    mask-position: 150% 0px;
  }
  100% {
    -webkit-mask-position: 0% 0px;
    mask-position: 0% 0px;
  }
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }
  10% {
    -webkit-transform: translate(-50.4%, 15px);
            transform: translate(-50.4%, 15px);
  }
  40% {
    -webkit-transform: translate(-50.2%, -5px);
            transform: translate(-50.2%, -5px);
  }
  50% {
    -webkit-transform: translate(-49.6%, -15px);
            transform: translate(-49.6%, -15px);
  }
  85% {
    -webkit-transform: translate(-50.4%, 15px);
            transform: translate(-50.4%, 15px);
  }
  100% {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }
  10% {
    -webkit-transform: translate(-50.4%, 15px);
            transform: translate(-50.4%, 15px);
  }
  40% {
    -webkit-transform: translate(-50.2%, -5px);
            transform: translate(-50.2%, -5px);
  }
  50% {
    -webkit-transform: translate(-49.6%, -15px);
            transform: translate(-49.6%, -15px);
  }
  85% {
    -webkit-transform: translate(-50.4%, 15px);
            transform: translate(-50.4%, 15px);
  }
  100% {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }
}

.wiggleef {
  -webkit-animation-name: wiggle;
          animation-name: wiggle;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes filter {
  0% {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
  50% {
    -webkit-filter: brightness(140%);
            filter: brightness(140%);
  }
  100% {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}

@keyframes filter {
  0% {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
  50% {
    -webkit-filter: brightness(140%);
            filter: brightness(140%);
  }
  100% {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}

.filteref {
  -webkit-animation: filter 2000ms infinite ease-in-out;
          animation: filter 2000ms infinite ease-in-out;
}

.modal .modal-body {
  position: relative;
  padding: 0px;
  overflow: inherit;
}

.modal .modal-body .close {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  opacity: 1;
  border: none;
  background: transparent;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive::before {
  display: block;
  content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive::before {
  display: block;
  content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.857143%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

:root {
  --color1: #21569e;
  --color2: #333333;
  --color3: #808080;
  --colorok: #31da70;
  --colorerror: #ff6d6d;
  --whitecolor: #fff;
  --colorlink: #409ff5;
  --spacing: 30px;
  --colortablehead: #e4e4e4;
  --bs-gutter-x: 1.5rem;
  --ratio:1;
}

.error {
  color: var(--colorerror) !important;
}

.green {
  color: var(--colorok) !important;
}

.gold {
  color: var(--color1) !important;
}

.blue {
  color: var(--colorlink) !important;
}

.main {
  color: var(--color1) !important;
}

body {
  font-family: "Roboto Condensed", Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--color2);
  background-color: #000;
}

* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

button {
  -webkit-transition: all 0.7s ease-in-out !important;
  transition: all 0.7s ease-in-out !important;
}

a:hover {
  text-decoration: none;
}

main {
  position: relative;
  height: 100vh;
}

.container {
  max-width: 1200px;
}

.container2 {
  max-width: 1000px;
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;
}

#layout {
  width: 1920px;
  height: auto;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  overflow: hidden;
  margin: 0 auto;
}

#layout2 {
  width: 100%;
  height: auto;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  overflow: hidden;
}

/*-Sticky-*/
.floatbar {
  width: 196px;
  height: 452px;
  background: url(../images/bg-sticky.png) no-repeat top center;
  position: fixed;
  right: 0;
  top: 15%;
  z-index: 15;
}

.floatbar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  padding-left: 0;
  margin-top: 115px;
}

.floatbar ul li {
  padding: 0.3rem 0;
}

.floatbar ul li ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.floatbar ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #fff;
}

.floatbar ul li a:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.floatbar ul li a.store img {
  max-width: 100%;
}

.floatbar ul li a.store:hover {
  -webkit-filter: brightness(190%);
          filter: brightness(190%);
}

.floatbar ul li a.linktc {
  margin: 0.5rem 0 0 -1.7rem;
}

.floatbar ul li a.linktc img {
  max-width: 100%;
}

/*=Header=*/
.header {
  position: relative;
  background: url(../images/bg-top.jpg) no-repeat;
  height: 1100px;
  background-size: contain;
}

.header a.btn-logo {
  z-index: 2;
  position: relative;
  top: 45px;
}

.header a.btn-logo img {
  display: block;
  margin: 0 auto;
  -webkit-transform: translateX(60%);
          transform: translateX(60%);
}

.header .cosplay {
  display: block;
  margin: 0 auto;
  -webkit-transform: translate(153px, 47px);
          transform: translate(153px, 47px);
  z-index: 2;
  position: relative;
}

.header .allbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(7%, 60px);
          transform: translate(7%, 60px);
  list-style: none;
  z-index: 2;
  position: relative;
}

.header .allbutton a:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.header .btn-trailer {
  width: 800px;
  height: 500px;
  display: block;
  margin: 0 auto;
  position: absolute;
  z-index: 2;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
}

.header .bg-onvideo {
  position: absolute;
  z-index: 2;
  bottom: -70px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 100%;
  height: auto;
}

.header .bg-onvideo img {
  max-width: 100%;
  display: block;
}

.header .bgvideo {
  width: 1920px;
  height: 1000px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.header .bgvideo #videoef {
  width: 100%;
  height: auto;
}

#trailer .modal-dialog {
  width: 864px;
  height: 864px;
  background: url(../images/bgpop.png) no-repeat top center;
}

#trailer .modal-dialog .modal-content {
  height: 100%;
}

#trailer .modal-dialog .modal-content .content {
  margin-top: 130px;
  height: 580px;
  overflow-y: scroll;
}

#trailer .modal-dialog .modal-content .content h3 {
  font-weight: 700;
  text-shadow: 2px 2px 2px #f5aa28, -2px -2px 2px #f5aa28;
}

#trailer .modal-dialog .modal-content .content p {
  font-size: 20px;
}

#trailer .modal-dialog .modal-content .content p strong {
  font-size: 25px;
}

#style-3::-webkit-scrollbar-track {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar {
  width: 4px;
  border-radius: 5px;
  background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb {
  background-color: var(--colorerror);
  border-radius: 5px;
}

#tuongmoi .modal-body .close {
  right: 100px;
}

.modal-dialog .modal-content {
  background-color: transparent;
  border: none;
}

.modal-dialog .modal-content .btn-close {
  position: absolute;
  width: 54px;
  height: 54px;
  z-index: 100;
  right: 12%;
  top: 2rem;
  opacity: 1;
}

.modal-dialog .modal-content .btn-close img {
  max-width: 100%;
}

.modal-dialog .modal-content .modal-body img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

/*==FOOTER=*/
.footer {
  min-height: 271px;
  background: url(../images/bg-footer.jpg) no-repeat top center;
  background-color: #ffffff;
  border-top: 1px solid #e3e3e3a8;
}

.footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-content p {
  line-height: 1;
  font-weight: 500;
  font-size: 18px;
}

@media (max-width: 1920px) {
  :root {
    --ratio:1;
  }
}

@media (max-width: 1366px) {
  :root {
    --ratio:0.533;
  }
}

@media (max-width: 1280px) {
  :root {
    --ratio:0.5;
  }
}
/*# sourceMappingURL=cg-1010.css.map */